@model IEnumerable<SistemaAcademico.APP.Entities.Professor>

@if (Model == null || Model.Count() <= 0)
{
    <div class="justify-content-center blackboard text-center text-white-50 h3 mx-3 py-3">
        Professores matriculados seram listados aqui
    </div>
}
else
{
    <table class="table table-borderless table-hover table-responsive blackboard text-center mt-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contato.WhatsApp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contato.EmailPrimario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RedesSociais.LinkedIn)
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-white">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contato.WhatsApp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contato.EmailPrimario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RedesSociais.LinkedIn)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditarProfessor", new { cpf = item.Cpf }) |
                        @Html.ActionLink("Remover", "RemoverProfessor", new { cpf = item.Cpf })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<link href="~/css/professor.css" rel="stylesheet" />