@model IEnumerable<SistemaAcademico.APP.Entities.Professor>

<table class="table table-borderless table-hover table-responsive mt-3" style="background-color: #82b479; border: 10px solid #eac4a0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contato.WhatsApp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contato.EmailPrimario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contato.EmailSecundario)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-white-50">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contato.WhatsApp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contato.EmailPrimario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contato.EmailSecundario)
            </td>
        </tr>
}
    </tbody>
</table>
